<div class="main-container">
    <div class="background-image">
    </div>

    <div class="menu-icon" (click)="toggleDialogBox()">
        &#9776;
    </div>

    <div class="display-container">
        <div class="timer-container">
            <div class="timer-values">
                {{timer}}
            </div>
        </div>

        <div class="button-group-container" >
             <button type="button" (click)="startTimer()">Start Timer</button>
             <button type="button" (click)="stopTimer()">Stop Timer</button>
        </div>
    </div>

    <div class="dialog-box-placeholder" *ngIf="getDialogOpenState() | async">
        <dialog-box></dialog-box>
    </div>

    <div class="dialog-backdrop" *ngIf="getDialogOpenState() | async"></div>
</div>